<% content_for(:page_title, "") %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= yield(:page_title) %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_path %>
          </li>
          <li class="active"><%= yield(:page_title) %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
            <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Shirts</a></div>
          </div>
          <div class="caption">
            <h4>Shirts</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
            <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Bags</a></div>
          </div>
          <div class="caption">
            <h4>Bags</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
            <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Lifestyle</a></div>
          </div>
          <div class="caption">
            <h4>Lifestyle</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <div class="slide">
            <div class="productImage clearfix">
              <%= image_tag("home/featured-product/product-01.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption clearfix">
              <a href="single_product.html">
                <h5>Mauris efficitur</h5>
              </a>
              <h3>199円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-02.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Nulla facilisi</h5>
              </a>
              <h3>149円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-03.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Praesent dui felis</h5>
              </a>
              <h3>79円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-04.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Cras eu faucibus</h5>
              </a>
              <h3>109円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-05.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Mauris lobortis augue</h5>
              </a>
              <h3>199円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-06.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Suspendisse suscipit</h5>
              </a>
             <h3>149円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-07.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Praesent a augue</h5>
              </a>
              <h3>79円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <%= image_tag("home/featured-product/product-09.jpg", :alt => "featured-product-img") %>
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                  <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Cras vel augue</h5>
              </a>
              <h3>109円</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row latestArticles">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>お役立ち記事</h4>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-01.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-02.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-03.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
          <span class="meta">2016/9/16</span>
          <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-04.jpg", :alt => "article-image") %></a>
          <div class="caption">
            <p>記事本文（100文字）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-01.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-02.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-03.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-04.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-05.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-01.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-02.png", :alt => "partner-img") %>
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <%= image_tag("home/partners/partner-03.png", :alt => "partner-img") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'potepan/products/product_quick_view_modal' %>
