<div class="panel panel-default <%= taxonomy.name.camelize %>">
  <div class="panel-heading"><%= taxonomy.name %></div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomy.root.children.each do |taxon| %>
          <li>
            <% if taxon.children.empty? %>
              <%# taxonに子taxonがない場合はアコーディオンを作らない %>
              <%= link_to potepan_category_path(taxon.id, categories_params) do %>
                <%= taxon.name %> <span>(<%= taxon.products.size %>)</span>
              <% end %>
            <% else %>
              <a href="javascript:;" data-toggle="collapse" data-target="#taxon-<%= taxon.id %>">
                <%= taxon.name %><i class="fa fa-plus"></i>
              </a>
              <ul id="taxon-<%= taxon.id %>" class="collapse collapseItem">
                <%# root taxonの子taxonをリストにする %>
                <% taxon.children.each do |child_taxon| %>
                  <li>
                    <%= link_to potepan_category_path(child_taxon.id, categories_params) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= child_taxon.name %> <span>(<%= child_taxon.products.size %>)</span>
                    <% end %>
                    <%# 孫taxon以下は出力しない %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
