<% content_for(:page_title, @taxon.name) %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= yield(:page_title) %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_path %>
          </li>
          <% @taxon.ancestors.each do |ancestor| %>
            <li>
              <%= link_to ancestor.name, potepan_category_path(ancestor.id) %>
            </li>
          <% end %>
          <li class="active"><%= @taxon.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area', display: @display%>
        <% if @display == 'grid' %>
          <%= render 'products_grid', products: @products, taxon: @taxon %>
        <% elsif @display == 'list' %>
          <%= render 'products_list', products: @products, taxon: @taxon %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/partners_logo_slider' %>
<%= render 'potepan/products/product_quick_view_modal' %>
