<!-- CART FROM -->
<%= form_for :order, url: "#", id: "#{place}-cart-form" do |f| %>
  <% if product.variant_option_values_by_option_type.any? %>
    <% product.variant_option_values_by_option_type.each do |type, values| %>
      <span class="quick-drop">
        <%= select_tag "#{place}-#{type.name}",
          options_for_select(values.collect{ |v| [v.name, v.id] }),
          class: "select-drop" %>
      </span>
    <% end %>
  <% end %>
  <span class="quick-drop resizeWidth">
    <%= select_tag "#{place}-qty",
      options_for_select({
        1 => "1",
        2 => "2",
        3 => "3"
      }),
      class: "select-drop" %>
  </span>
  <div class="btn-area">
    <%= button_tag class: "btn btn-primary btn-block" do %>
      カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>
