<!-- CAROUSEL -->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if product.images.present? %>
      <% product.images.each_with_index do |image, index| %>
        <div class="item<%=" active" if index.zero? %>" data-thumb="<%= index %>">
          <%= image_tag image.attachment.url(:large) %>
        </div>
      <% end %>
    <% else %>
      <div class="item active" data-thumb="0">
        <%= image_tag("img/products/signle-product/product-slide-big-01.jpg") %>
      </div>
    <% end %>
  </div>
</div>
<div class="clearfix">
  <!-- THUMBCAROUSEL -->
  <div id="thumbcarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <% if product.images.present? %>
        <% product.images.each_with_index do |image, index| %>
          <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
            <%= image_tag image.attachment.url(:small) %>
          </div>
        <% end %>
      <% else %>
        <div class="item active" data-thumb="0">
          <%= image_tag("img/products/signle-product/product-slide-small-01.jpg") %>
        </div>
      <% end %>
    </div>
    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
