<!-- PORDUCT QUICK VIEW MODAL -->
<div class="modal fade quick-view" id="quick-view" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="media">
          <% if defined?(product) && product.present? %>
            <div class="media-left">
              <%= image_tag("img/products/quick-view/quick-view-01.jpg", :class => "media-object", :alt => "Image") %>
            </div>
            <div class="media-body">
              <h2><%= product.name %></h2>
              <h3><%= product.display_price %></h3>
              <p><%= product.description %></p>

              <%= render 'cart_form', product: product, place: "quick-view" %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
