<div class="row productsContent relatedProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% if related_products.present? %>
    <% related_products.each do |product| %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <% if product.images.present? %>
              <%= image_tag(product.master_images.first.attachment.url(:small), :alt => "#{product.name}-img") %>
            <% else %>
              <%= image_tag("img/products/signle-product/product-slide-small-01.jpg") %>
            <% end %>
            <div class="productMasking">
              <ul class="list-inline btn-group" role="group">
                <li>
                  <a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <%= link_to potepan_cart_page_path, class: "btn btn-default" do %>
                    <i class="fa fa-shopping-cart"></i>
                  <% end %>
                </li>
                <li>
                  <a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="productCaption clearfix">
            <%= link_to potepan_product_path(product.friendly_id) do %>
              <h5><%= product.name %></h5>
              <h3><%= product.display_price %></h3>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <p>関連商品は見つかりませんでした</p>
    </div>
  <% end %>
</div>
