<% content_for(:page_title, @product.name) %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @product.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_path %>
          </li>
          <% if @taxons.present? %>
            <% @taxons.each do |taxon| %>
              <li>
                <%= link_to taxon.name, potepan_category_path(taxon.id) %>
              </li>
            <% end %>
          <% end %>
          <li class="active"><%= @product.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <%= render 'carousel', product: @product %>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <% if @taxons.present? %>
                <li>
                  <%= link_to potepan_category_path(@taxons.last.id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                </li>
              <% end %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render 'cart_form', product: @product, place: "single" %>
            <%= render 'tab_area' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related_products', related_products: @related_products %>
  </div>
</section>

<%= render 'product_quick_view_modal', product: @product %>
